<HTML>
	<head>
		{{>head}}
	</head>
  	<body>
	  	<header>
		    <div id="collapsable-nav" class="collapse navbar-collapse">
	           <ul id="nav-list" class="nav navbar-nav navbar-right">
	            <li id="navHomeButton" class="visible-xs active">
	              <a href="index.html">
	                <span class="glyphicon glyphicon-home"></span> Home</a>
	            </li>
	            <li id="navMenuButton">
	              <a href="#" onclick="$dc.loadMenuCategories();">
	                <span class="glyphicon glyphicon-cutlery"></span><br class="hidden-xs"> Menu</a>
	            </li>
	            <li>
	              <a href="#">
	                <span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs"> About</a>
	            </li>
	            <li>
	              <a href="#">
	                <span class="glyphicon glyphicon-certificate"></span><br class="hidden-xs"> Awards</a>
	            </li>
	            <li id="phone" class="hidden-xs">
	              <a href="tel:410-602-5008">
	                <span>410-602-5008</span></a><div>* We Deliver</div>
	            </li>
	          </ul><!-- #nav-list -->
	        </div><!-- .collapse .navbar-collapse -->
	    </header>
	    <div id="main-content" class="container">
	     	{{{body}}}
	    </div>
  		
  	</body>
</HTML>
